<p id="notice"><%= notice %></p>

<div class="text-center show-info">
	<h1>
		Task Content:
	</h1>
	<p>
		<%= @task.content %>
	</p>
</div>

<br />

<nav>
  <ul class="pager">
    <li><%= link_to 'Edit', edit_task_path(@task) %></li>
    <li><%= link_to 'Back', tasks_path %></li>
  </ul>
</nav>