<div class="jumbotron">
  <h1><i class="fa fa-user-secret"></i> DailyMission</h1>
  <p>This is a do to list Ruby on Rails Application.</p>
  <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%>
</div>